.form form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form {
  background-color: #18225f;
  margin: 10px auto;
  padding: 40px 50px;
  border-radius: 10px;
  font-size: 16px;
}

.form h1 {
  color: white;
  margin: 10px 30px 30px 30px;
}

.form p {
  color: white;
  margin: 10px 30px 30px 30px;
}

.form form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  background-color: rgb(19, 151, 19);
  border: none;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 8px;
}

input {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18225f;
  margin: 0px;
  padding: 10px;
}

.Header .headerLink {
  flex: 0 0 70%
}

.Header .Headerlogout {
  flex: 0 0 30%;
}

.headerLink {
  width: 100%;
  display: flex;
  background-color: #18225f;
  margin: 0px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-decoration: none;
}

.headerLink>* {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.logoutbtn {
  padding: 10px 20px;
  background-color: #bd0707;
  border: none;
  font-size: 16px;
  margin-top: 0px;
  border-radius: 8px;
}

.LibraryBook, .allUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LibraryBook h1, .allUser h1 {
  color: #18225f;
}

.libBooks, .userDetails {
  background-color: #18225f;
  border: 5px solid palevioletred;
  margin-top: 50px;

}

.libBooks table, .userDetails table {
  border-collapse: collapse;
}

.libBooks table, .libBooks th, .libBooks td, .userDetails table, .userDetails th, .userDetails td {
  padding: 20px;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}

.libBooks th, .userDetails th {
  background-color: palevioletred;
  color: black;
}